{% extends 'webui/base.html' %}

{% block content %}
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Timeline
                            <small>Visited places through time</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Timeline</a>
                            </li>
                        </ol>
                        <div class="row">
                            <div class="col-lg-2 text-center">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <form action="{% url 'index' %}" method="post">
                                            {% csrf_token %}
                                            <h2>Filter</h2>
                                            <div class="form-group">
                                                <label>Date from</label>
                                                <div class='input-group date' id='datetimepicker-from'>
                                                    <input type='text' class="form-control" name="date_from" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Date to</label>
                                                <div class='input-group date' id='datetimepicker-to'>
                                                    <input type='text' class="form-control" name="date_to" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <button class="btn btn-default" onclick="tomorrow()">+1 Day</button>
                                            <button class="btn btn-default" onclick="yesterday()">-1 Day</button>
                                            <div class="form-group">
                                                <label>Classification</label>
                                                <select id="classification" class="form-control" name="classification_id">
                                                    <option value="0">All</option>
                                                    {% for classification in classifications_list %}
                                                        <option value="{{ classification.id }}"
                                                        {% if classification_id == classification.id %} selected="selected" {% endif %}
                                                        >{{ classification.description }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>User</label>
                                                <select id="user" class="form-control" name="user_id">
                                                    <option value="0">All</option>
                                                    {% for user in users_list %}
                                                        <option value="{{ user.id }}"
                                                        {% if user_id == user.id %} selected {% endif %}
                                                        >{{ user.username }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-default">Filter</button>
                                        <br><br>
                                            <p>* Currently, there are only data about the months 05, 06, 07 in the year 2015.</p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-10 text-center">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <h2>Map</h2>
                                            <div id="map1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
    {% load static %}

<script>
    var mapboxTiles = L.tileLayer('https://api.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'vybo.pflplflh',
        accessToken: 'pk.eyJ1IjoidnlibyIsImEiOiJjaW0zZzY0aWMwMHFhdW9tNHY3MGRkbTU2In0.VB-cITfYqzwWbo-1dPVZ8g'
    });

    var mymap = L.map('map1').setView([49.204, 16.603], 13).addLayer(mapboxTiles);

    var travelicon = L.icon({
        iconUrl: '{% static "webui/images/markertravel.png" %}',

        iconSize:     [32,32], // size of the icon
        iconAnchor:   [16,32], // point of the icon which will correspond to marker's location
        popupAnchor:  [0, -32] // point from which the popup should open relative to the iconAnchor
    });

    var visiticon = L.icon({
        iconUrl: '{% static "webui/images/markervisit.png" %}',

        iconSize:     [32,32], // size of the icon
        iconAnchor:   [16,32], // point of the icon which will correspond to marker's location
        popupAnchor:  [0, -32] // point from which the popup should open relative to the iconAnchor
    });

    var marker = null;
    var latlng = null;
    var allmarkers = [];
    var latlngs = [];

    {% for visit in visits_list %} 
        {% if visit.visit_classification.description == 'visit' %}
            marker = L.marker([{{ visit.latitude }}, {{ visit.longitude }}], {icon: visiticon}).addTo(mymap);
            latlng = L.latLng({{ visit.latitude }}, {{ visit.longitude }});
            latlngs.push(latlng);
            allmarkers.push(marker);
        {% else %}
            marker = L.marker([{{ visit.latitude }}, {{ visit.longitude }}], {icon: travelicon}).addTo(mymap);
            latlng = L.latLng({{ visit.latitude }}, {{ visit.longitude }});
            latlngs.push(latlng);
            allmarkers.push(marker);
        {% endif %}

        marker.bindPopup("<b>{{ visit.visit_classification }}</b><br>Start: {{ visit.starting_time|date:'d-m-Y H:i' }}.<br> " +
                "End: {{ visit.ending_time|date:'d-m-Y H:i' }} <br> Length: {{ visit.length }} sec <br> User: {{ visit.user }}")
     {% endfor %}

    var newpolyline = L.polyline(latlngs).addTo(mymap);

    var group = new L.featureGroup(allmarkers);
    mymap.fitBounds(group.getBounds());

    function getLocation() {
        if (navigator.geolocation) {
            return navigator.geolocation.getCurrentPosition();
        } else {
            return {coords: {latitude: 16.60, longitude: 49.20}}
        }
    }
</script>

<script type="text/javascript">
    {% if date_from != None %}
        var datefrom = '{{ date_from }}'.substr(0,16);
        var dateto = '{{ date_to }}'.substr(0,16);
    {% else %}
        var datefrom = '07/05/2015 00:00';
        var dateto = '07/05/2015 23:59';
    {% endif %}
    $(function () {
        $('#datetimepicker-from').datetimepicker({defaultDate: datefrom, format: 'DD.MM.YYYY HH:mm'});
        $('#datetimepicker-to').datetimepicker({defaultDate: dateto, format: 'DD.MM.YYYY HH:mm'});
    });

    function tomorrow() {
        var momentDate = $('#datetimepicker-from').data("DateTimePicker").date();
        momentDate.add(1, 'd');
        $('#datetimepicker-from').data("DateTimePicker").date(momentDate);

        momentDate = $('#datetimepicker-to').data("DateTimePicker").date();
        momentDate.add(1, 'd');
        $('#datetimepicker-to').data("DateTimePicker").date(momentDate);
    }

    function yesterday() {
        var momentDate = $('#datetimepicker-from').data("DateTimePicker").date();
        momentDate.subtract(1, 'd');
        $('#datetimepicker-from').data("DateTimePicker").date(momentDate);

        momentDate = $('#datetimepicker-to').data("DateTimePicker").date();
        momentDate.subtract(1, 'd');
        $('#datetimepicker-to').data("DateTimePicker").date(momentDate);
    }
</script>

{% endblock %}