{% extends 'webui/base.html' %}

{% block content %}
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Message
                        </h1>
                        <div class="row">
                            <div class="col-lg-2 text-center">
                                <h1>{{ message_title }}</h1> <br>
                                <h4>{{ message_text }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
    {% load static %}

{% endblock %}