{% extends 'webui/base.html' %}

{% block content %}
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Places analysis
                            <small>All time visited places</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Places analysis</a>
                            </li>
                        </ol>
                        <div class="row">
                            <div class="col-lg-2 text-center">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <form action="{% url 'places' %}" method="post">
                                            {% csrf_token %}
                                            <h2>Filter</h2>
                                            <div class="form-group">
                                                <label>Place type</label>
                                                <select id="place_type" class="form-control" name="place_type_id">
                                                    <option value="0">All</option>
                                                    {% for place_type in place_types_list %}
                                                        <option value="{{ place_type.id }}"
                                                        {% if place_type_id == place_type.id %} selected="selected" {% endif %}
                                                        >{{ place_type.description }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Candidate for</label>
                                                <select id="candidate_for" class="form-control" name="candidate_for">
                                                    <option value="all" {% if candidate_for == 'all' %} selected="selected" {% endif %}>All</option>
                                                    <option value="home" {% if candidate_for == 'home' %} selected="selected" {% endif %}>Home</option>
                                                    <option value="work" {% if candidate_for == 'work' %} selected="selected" {% endif %}>Work</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Times visited (more than)</label>
                                                <input type="number" name="times_visited" value="{{ times_visited }}">
                                            </div>
                                            <div class="form-group">
                                                <label>User</label>
                                                <select id="user_id" class="form-control" name="user_id">
                                                    <option value="0">All</option>
                                                    {% for user in users_list %}
                                                        <option value="{{ user.id }}"
                                                        {% if user_id == user.id %} selected {% endif %}
                                                        >{{ user.username }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-default">Filter</button>
                                            <br><br>
                                            <p>* Currently, there are only data about the months 05, 06, 07 in the year 2015.</p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-10 text-center">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <h2>Map</h2>
                                            <div id="map1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
    {% load static %}
<script>
    var mapboxTiles = L.tileLayer('https://api.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'vybo.pflplflh',
        accessToken: 'pk.eyJ1IjoidnlibyIsImEiOiJjaW0zZzY0aWMwMHFhdW9tNHY3MGRkbTU2In0.VB-cITfYqzwWbo-1dPVZ8g'
    });

    var mymap = L.map('map1').setView([49.204, 16.603], 13).addLayer(mapboxTiles);



    var homeicon = L.icon({
        iconUrl: '{% static "webui/images/markerhome.png" %}',

        iconSize:     [32,32], // size of the icon
        iconAnchor:   [16,16], // point of the icon which will correspond to marker's location
        popupAnchor:  [0, -16] // point from which the popup should open relative to the iconAnchor
    });

    var workicon = L.icon({
        iconUrl: '{% static "webui/images/markerwork.png" %}',

        iconSize:     [32,32], // size of the icon
        iconAnchor:   [16,16], // point of the icon which will correspond to marker's location
        popupAnchor:  [0, -16] // point from which the popup should open relative to the iconAnchor
    });

    var othericon = L.icon({
        iconUrl: '{% static "webui/images/markertravel.png" %}',

        iconSize:     [32,32], // size of the icon
        iconAnchor:   [16,32], // point of the icon which will correspond to marker's location
        popupAnchor:  [0, -32] // point from which the popup should open relative to the iconAnchor
    });

    var allmarkers = [];
    var marker = null;
    {% for place in places_list %} 
        {% if place.home_probability > place.work_probability %}
            marker = L.marker([{{ place.latitude }}, {{ place.longitude }}], {icon: homeicon}).addTo(mymap);
            allmarkers.push(marker);
        {% elif place.home_probability < place.work_probability %}
            marker = L.marker([{{ place.latitude }}, {{ place.longitude }}], {icon: workicon}).addTo(mymap);
            allmarkers.push(marker);
        {% else %}
            marker = L.marker([{{ place.latitude }}, {{ place.longitude }}], {icon: othericon}).addTo(mymap);
            allmarkers.push(marker);
        {% endif %}

        marker.bindPopup("<b>{{ place.name }}</b><br>type: {{ place.place_type.description }}.<br> " +
                "times visited: {{ place.count }} <br> home probability: {{ place.home_probability }} <br> work probability: {{ place.work_probability }}")
     {% endfor %}

    var group = new L.featureGroup(allmarkers);
    mymap.fitBounds(group.getBounds());

    function getLocation() {
        if (navigator.geolocation) {
            return navigator.geolocation.getCurrentPosition();
        } else {
            return {coords: {latitude: 16.60, longitude: 49.20}}
        }
    }
</script>

{% endblock %}