{% extends 'webui/base.html' %}

{% block content %}
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Data processing
                            <small>Load new data and process it</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Data processing</a>
                            </li>
                        </ol>
                        <div class="row">
                            <div class="col-lg-2 text-center">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <form action="{% url 'handle_processing' %}" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label>User</label>
                                                <select id="user_id" class="form-control" name="user_id">
                                                    {% for user in users_list %}
                                                        <option value="{{ user.id }}"
                                                        {% if user_id == user.id %} selected {% endif %}
                                                        >{{ user.username }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div><br><br>
                                            <div class="form-group">
                                                <label>Google Timeline JSON file</label>
                                                <input type="file" name="timelinefile" id="timelinefile" />
                                            </div><br><br>
                                            <div class="form-group">
                                                <label>Settings</label><br><br>
                                                <input type="checkbox" name="process_visits" value="process_visits"> Process visits into timeline</input><br>
                                                <input type="checkbox" name="process_places" value="process_visits"> Process places for analysis</input>
                                            </div><br><br>
                                            <p>* The upload might take a minute and there is no progress bar. Pay attention to what your browser is doing. When the upload is complete, you will see a success message.</p>
                                            <br>
                                            <button type="submit" class="btn btn-default">Upload</button>
                                        <br><br>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-10 text-center">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <h5>Console output</h5>
                                            <textarea id="console"> Console output.
                                            </textarea>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
    {% load static %}

{% endblock %}