#map1 {
    height: 800px;
}

#console {
    height: 600px;
    width: 100%;
    border:1px solid #999999;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    text-align: left;
}